
$brand: #509874;
$brand2: #75bf98;
$secondary: #44a0f0;
$danger: #ff766f;
$warning: #ffcd3d;
$headings-color: #444549;

$white: #fff;
$inactive-text: #9B9B9B;
$gray: #eee;
$dark: #3f4040;

$facebook: #47659b;

$background-darken: rgba(0, 0, 0, .5);

.content-wrapper {
  .danger {
    font-weight: 700;
    color: $danger !important;
  }
}
