
//Making global containers full width and height

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

//Preventing React from shrinking global containers to fit content

#react-root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

[data-reactid=".0"] {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
