
//Disabling automatic touch higlighting in Safari

*{

}

//Making global containers full width and height

html {
  height: 100%;
  width: 100%;
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  position: relative;
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}

//Preventing React from shrinking global containers to fit content

#react-root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
  position: relative;
  overflow-x: hidden;
}

[data-reactid=".0"] {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}

#page-wrapper {
  overflow-x: hidden;
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-tap-highlight-color:transparent;
}
