
.pure-button {
  font-family: $font-headings;
  font-weight: 700;
  padding: 15px;
}

.pure-button-primary {
  background: $secondary;
}

#facebook-login {
  background: $facebook;
  color: $white;
}
