
.pure-form {
  input,
  select {
    font-family: $font-headings;
    height: 50px;
  }

  button {
    margin: 20px 0;
    min-width: 140px;
  }
}


.typeahead {
  margin-bottom: 0;
  position: relative;

  typeahead-selector {
    width: 100%;
  }

  input {
    margin: 0;
    width: 100%;
  }
}

textarea {
  min-height: 120px;
}

.form-inline {
  display: inline !important;
}

.ingredient-name {
  bottom: -10px;
  left: 5px;
  position: relative;
}

.typeahead-selector {
  background-color: $white;
  border: 1px solid $gray;
  list-style: none;
  margin: 0;
  max-height: 200px;
  overflow-y: scroll;
  padding: 0;
  position: absolute;
  width: 99%;
  z-index: 4;

  li {
    padding: 8px;
    text-decoration: none;

    a {
      color: $dark;
      font-family: $font-headings;
    }

    &:hover,
    &:active,
    &:focus {
      background-color: $secondary;

      a {
        color: $white;
      }
    }
  }
}
