
.pure-form {
  input,
  select {
    font-family: $font-headings;
    height: 50px;
  }

  button {
    margin: 20px 0;
    min-width: 140px;
  }
}

.search-container {
  position: relative;
  .fa-search {
    color: $secondary;
    font-size: 18px;
    left: 12px;
    position: absolute;
    top: 16px;
    z-index: 5;
  }
}

.typeahead {
  margin-bottom: 0;
  position: relative;

  typeahead-selector {
    width: 100%;
  }

  input {
    margin: 0;
    text-indent: 30px;
    width: 100%;
  }
}

textarea {
  min-height: 120px;
}

.form-inline {
  display: inline !important;
}

.ingredient-name {
  bottom: -10px;
  left: 5px;
  position: relative;
}

.typeahead-selector {
  background-color: $white;
  border: 1px solid $gray;
  list-style: none;
  margin: 0;
  max-height: 200px;
  overflow-y: scroll;
  padding: 0;
  position: absolute;
  width: 99%;
  z-index: 4;

  li {
    padding: 8px;
    text-decoration: none;

    a {
      color: $dark;
      font-family: $font-headings;
    }

    &:hover,
    &:active,
    &:focus {
      background-color: $secondary;

      a {
        color: $white;
      }
    }
  }
}

//Custom on/off switch

.switch-container {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  height: 50px;
}

.onoffswitch, .switch-cta {
  float: left;
}

.onoffswitch {
  position: relative; width: 90px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  border: 2px solid #FFFFFF; border-radius: 20px;
}
.onoffswitch-inner {
  display: block; width: 200%; margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
  font-size: 14px; color: white; font-family: $font-headings; font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "ON";
  padding-right: 20px;
  background-color: $secondary; color: $white;
}
.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 20px;
  background-color: #EEEEEE; color: #999999;
  text-align: right;
}
.onoffswitch-switch {
  display: block; width: 21px; margin: 4.5px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 56px;
  border: 2px solid $white; border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

.switch-cta {
  height: 30px;
  margin-top: 8px;
  margin-left: 25px;
}
