@import '../_colors.import.scss';

.hero {
  margin-top: 3px;
  min-height: 250px;
  position: relative;
}

.gradient {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 75px;
  background: linear-gradient($white, #fdfdfd)
}
