.brand-1 {
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 1.2;
}

.brand-2 {
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1.2;
}

.pure-menu-children li a:hover {
  color: #fff;
}

.navbar {
  height: 70px;
  width: 100%;
  background-color: $brand;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .pure-menu-horizontal {
    width: auto;
    padding-right: 30px;
    .pure-menu-active>.pure-menu-link, .pure-menu-link:hover, .pure-menu-link:focus {
        background-color: $brand;
    }
    .pure-menu-children {
      .pure-menu-link, .pure-menu-link:focus, .pure-menu-link:active {
        color: $brand;
      }
      .pure-menu-link:hover, .pure-menu-link:active {
        color: #fff;
      }
    }
    .pure-menu-list li a {
      color: #fff;
    }
  }
  .brand {
    padding-left: 30px;
  }
  .brand a, a.pure-menu-link {
    color: #fff;
    font-family: $font-headings;
    &:hover {
      background-color: inherit;
      color: #fff;
    }
  }
}
