
//Eat This logo styles

.navbar-logo {
  font-size: 28px;
  letter-spacing: 1.2;
  padding-left: 30px;
}

#navbar-logo-1 {
  font-weight: 700;
}

#navbar-logo-2 {
  font-weight: 300;
}

//Navbar styles

.navbar {
  align-items: center;
  background-color: $brand;
  display: flex;
  height: 70px;
  justify-content: space-between;
  width: 100%;

  a {
    color: $white;
  }

  .pure-menu-horizontal {
   :first-child {
      color: $white;
    }
    padding-right: 30px;
    width: auto;

    .pure-menu-active>.pure-menu-link, .pure-menu-link:hover, .pure-menu-link:focus {
      background-color: $brand;
    }
    .pure-menu-children {
      .pure-menu-link, .pure-menu-link:focus, .pure-menu-link:active {
        color: $brand;
      }
      .pure-menu-link:hover, .pure-menu-link:active {
        color: #fff;
      }
    }
    .pure-menu-list li a {
      color: #fff;
    }
  }
}
