.weekplan-container {
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  h4 {
    line-height: 1.7;
  }
  .weekplan-empty {
    color: $inactive-text;
  }
}

.meal-container {
  .meal-heading {
  }
  .meal-titles {

  }
}
