.welcome-background {
  background: linear-gradient($background-darken, $background-darken), url('https://static.pexels.com/photos/3329/food-kitchen-cutting-board-cooking.jpg') no-repeat center center fixed;
  background-size: cover;
  color: $white;
  height: 100%;
  margin-top: -60px;
  width: 100%;
  h1 {
  }
}

.welcome-cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  @media screen and (max-width: 35.5em) {
    padding-top: 160px;
  }
  .pure-button {
    margin-top: 40px;
  }
}
