.welcome-background {
  background: linear-gradient($background-darken, $background-darken), url('https://static.pexels.com/photos/3329/food-kitchen-cutting-board-cooking.jpg') no-repeat center center fixed;
  background-size: cover;
  color: $white;
  height: 100%;
  margin-top: -60px;
  text-align: center;
  width: 100%;

  h1 {
    @media screen and (max-width: 35.5em) {
      padding: 220px 40px 0;
    }
    padding-top: 360px;
  }
}
