@import '../../_colors.import.scss';

.meal-heading {
  margin-top: 18px;
}

.row {
  display: flex;
  align-items: center;
  min-height: 60px;
  border-top: 2px solid $gray;
  &:last-child {
    border-bottom: 2px solid $gray;
  }
}

.recipe-link {
  color: $brand;
}
