@import './main.import.scss';

input, .pure-form select {
  font-family: $font-headings;
  height: 40px;
}

.typeahead {
  position: relative;
  typeahead-selector {
    width: 100%;
  }
}

.typeahead input {
  width: 100%;
  margin: 0;
}

.pure-form {
  input, select, textarea, button {
    margin: 20px 0 20px 0;
  }
  button {
    min-width: 140px;
  }
}



textarea {
  min-height: 120px;
}

.form-inline {
  display: inline !important;
}

ul.typeahead-selector {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #fff;
  list-style: none;
  max-height: 200px;
  overflow-y: scroll;
  li {
    text-decoration: none;
    padding: 10px;
    a {
      color: #000;
      font-family: $font-headings;
    }
    &:hover, &:active {
      background-color: $brand-primary;
      a {
        color: #fff;
      }
    }
  }
}
