@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700,400italic);

$brand-primary: #509874;
$font-headings: 'Lato';
$font-text: 'Merriweather';

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  font-family: $font-headings;
}
p {
  line-height: 1.7;
}

p, a {
  font-family: $font-text;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

#react-root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

[data-reactid=".0"] {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

.navbar {
  height: 60px;
  width: 100%;
  background-color: $brand-primary;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .pure-menu-horizontal {
    width: auto;
    padding-right: 30px;
    .pure-menu-active>.pure-menu-link, .pure-menu-link:hover, .pure-menu-link:focus {
        background-color: $brand-primary;
    }
    .pure-menu-children {
      .pure-menu-link, .pure-menu-link:focus {
        color: $brand-primary;
      }
    }
    .pure-menu-list li a {
      color: #fff;
    }
  }
  .brand {
    padding-left: 30px;
  }
  .brand a, a.pure-menu-link {
    color: #fff;
    font-family: $font-headings;
    &:hover {
      background-color: inherit;
      color: #fff;
    }
  }
}
